.h1class {
    margin-top: 200px;
    text-align: center;
    color: rgb(240, 240, 226);
    font-size: 40px;
}

h3 {
    margin-top: -20px;
    text-align: center;
    font-size: x-large;
    font-weight: normal;
    color: rgb(240, 240, 226);
}